* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #6495ED;
}

body {
  background-color: #ff5733;
  background-image: url(img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 700px;
  height: 1500px;
  display: inline-block;
  border: solid black 1px;
  border-radius: 12px;
  margin: 2.5rem;
  transition: 0.5s;

}

.card_header {
  text-align: center;
  font-size: 35px;
  color: #6495ED;
  transition: 0.5s;

} 

img {
  height: 90%;
  width: 90%;
  object-fit: contain;
  transition: 0.5s;
}

.footer {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  padding: 0px 25px 0px 25px;
  transition: 0.5s;
}

img {
  transition: 0.5s;
  cursor: pointer;
}

.card:hover h1 {
  color: #FF5733;
}

.card:hover .footer {
  color: #FF5733;
}

.card:hover {
  background-color: #DAF7A6;
}

div.card:hover img {
  filter: drop-shadow(10px 10px 10px #C70039);
}