div img {
  width: 350px;
  height: 500px;
}

[alt="14Dokkan"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="15Dokkan"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="17_Artwork"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="Android19"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="Androide13"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="Androide_16"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="Androide_18"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="Babidi"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="Bardock"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="Beerus"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="bulma"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="BuuGordo_"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="celula"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="ChiChi_DBS"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="Dende_Artwork"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="Dispo"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="dodoria"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="Gero"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="Final_Yamcha"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="Freezer"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="ginyu"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="ginyu_force"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="gohan"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="goku_normal"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="Gotenks_Artwork"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="Gran_Kaio-shin_Artwork"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="Gran_kaio_sama12"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="Grand priest"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt="Jiren"] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt="kaio del este"] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt="kaio-shin del este"] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px blue);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px red);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px yellow);
}
[alt=] {
  filter: drop-shadow(20px 20px 20px blue);
}