* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  color: #6495ED;
  padding: 100px 0px 150px 0px;
}

body {
  background-color: #ff5733;
  background-image: url(img/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 700px;
  height: 1500px;
  display: inline-block;
  border: solid #DAF7A6 0.5px;
  border-radius: 16px;
  margin: 2.5rem;
  transition: 0.5s;

}

.card_header {
  text-align: center;
  font-size: 35px;
  color: #6495ED;
  transition: 0.5s;

} 

img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  transition: 0.5s;
}

.footer {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  padding: 0px 0px 0px 0px;
  color: #6495ED;
  transition: 0.5s;
}

.card:hover {
  background-color: #DAF7A6;
}

img {
  transition: 0.5s;
  cursor: cell;
}

.card:hover h1 {
  color: #FF5733;
}

.card:hover .footer {
  color: #FF5733;
}


div.card:hover img {
  filter: drop-shadow(20px 20px 20px #FF5733);
}
